
.box{
    border:2px solid black;
    padding:20px;
    margin-top:100px;
    margin-left:600px;
    width:275px;
    height:380px;
    background-color:rgb(227, 238, 198);
    border-radius:15px;
}

.inputField{
  border-radius:25px;
  padding:25px;
  height:40px;
  width:277px;
  font-size: large;
  font-style:italic;
  background-color:rgb(240, 245, 247);
}

 body{
   background-color: blueviolet;
 }

p{
   margin-top:90px;
   padding:30px;
   padding-top:8px;
   border:1px solid ;
   border-radius: 25px;
   height:5px;
   width: 180px;
   margin-left:17px;
   
}

